/*Home Button*/
.homeIcon-r0w4ny path {fill: transparent}
.homeIcon-r0w4ny {
    background: url('https://c.tenor.com/G_wVsZOagfEAAAAi/popcorn-girl-eating.gif') center/cover no-repeat;
    min-width: 40px;
    min-height: 40px;
}
