/* Meko's Custom Nocturnal Discord Theme */
/* Theme includes 'Horizontal Server List' and 'Radial Status' */

@import url("https://codedotspectra.github.io/themes/themes-cores/nocturnal.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
:root {
--mainColor: #0096C8;
--backgroundColor01: #111111FF;
--backgroundColor02: #0D0D0DFF;
--gradientColor01: #0AB9C8FF;
--gradientColor02: #0C36E8FF;
--HSL-server-icon-size: 40px;
--HSL-server-spacing: 10px;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 3px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 15%;
--rs-online-color: #17CE11FF;
--rs-idle-color: #A0A202FF;
--rs-dnd-color: #B20000FF;
--rs-offline-color: #3B4046FF;
--rs-streaming-color: #995DFFFF;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
}
